# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
*.egg-info/
dist/
build/
*.spec

# Node
node_modules/
frontend/build/

# Env
.env
.env.local
.env.*.local
!.env.development
!.env.production

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.suo
*.user

# Logs
*.log
